@model List<BankAccountViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBankAccounts</title>
</head>
<body>
    <div>
        @if (ViewBag.HasErrored != null)
        {
            <p style="color: red">Something's not right!</p>
        }
        else
        {
            for (var i = 0; i < Model.Count(); i++)
            {
                <p>@Html.ActionLink(Model[i].Name, "ViewBankAccount", "HouseholdApiBankAccounts", routeValues: new { householdId = Model[i].HouseholdId, bankAccountId = Model[i].Id }, htmlAttributes: null)</p>
            }
        }
    </div>
</body>
</html>
