@model List<HouseholdMember>

@{
    Layout = null;
}

@if(ViewBag.HasErrored != null && ViewBag.HasErrored == true)
{
    <p>No members found</p>
}

@if (Model.Any())
{
    for(var i = 0; i < Model.Count(); i++)
    {
        <p style="color: red; font-size: 1em">@(i+1). @Model[i].UserName</p>
    }
}
