@{
    ViewBag.Title = "Home Page";
}

@if(TempData["PasswordResetSuccessful"] != null && (bool)TempData["PasswordResetSuccessful"] == true)
{
    <div>
        <p style="color: red; font-weight: bold">Your password has been reset</p>
    </div>
}


<div>
    <div style="display: flex; flex-flow: row wrap; justify-content: space-around">
        <img src="~/TemplatesResources/Mydesign/images/mars-home.jpg" style="width: 450px; height: 400px; box-sizing: border-box; margin-bottom: 5px; border: solid 5px gold" />
        <img src="~/TemplatesResources/Mydesign/images/lunar-home.jpg" style="width: 450px; height: 400px; box-sizing: border-box; margin-bottom: 5px; border: solid 5px gold" />
        <img src="~/TemplatesResources/Mydesign/images/earth-home.jpeg" style="width: 450px; height: 400px; box-sizing: border-box; margin-bottom: 5px; border: solid 5px gold" />
    </div>
    <p>Whether you live on Earth or Moon or Mars, you need the household api consumer app!</p>


    <p>Welcome to the ultimate household api consumer app. You can do so much here. Starting from creating new households, adding household members, creating bank accounts, creating transactions and managing transactions. This helps you with sorting out your budget and allocating credits to the most accurate point.</p>


    <p>Just sign in and start managing your household</p>
</div>